<ion-view view-title="Details">
    <ion-nav-bar class="bar-royal">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="right">
        <button ng-if="!error" class="button back-button button-icon ion-pricetags" ng-controller="TagsCtrl" ng-click="showAddTagPopup()"></button>
        <button ng-if="!error" class="button back-button button-icon ion-location" ng-click="showIssueOnMap()"></button>
    </ion-nav-buttons>
    <ion-content class="issue-details has-footer" has-header="false" delegate-handle="commentsScroll">
        <div  ng-if="!error">
            <img class="issue-img" ng-src="{{issue.imageUrl}}" alt="">
            <div class="row">
                <div class="col tags" ng-controller="TagsCtrl">
                    <span ng-repeat="tag in issue.tags" ng-click="removeTag(tag)">{{tag}}<i class="icon ion-close"></i></span>
                    <span class="no-tag" ng-if="issue.tags.length < 1">No Tag</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1>Created On</h1>
                    <p>{{issue.createdOn| date:'dd MMM yyyy'}}</p>
                </div>
                <div class="col">
                    <h1>Updated On</h1>
                    <p>{{issue.updatedOn| date:'dd MMM yyyy'}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1>Status</h1>
                    <div class="row state {{issue.state}}">
                          <div class="col">Assigned</div>
                          <div class="col">Acknowledged</div>
                          <div class="col">In progress</div>
                          <div class="col">Rejected</div>
                          <div class="col">Resolved</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col issue-type">
                    <h1>Problem Type</h1>
                    <p>{{issue.issueType.name}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1>Description</h1>
                    <p>{{issue.description}}</p>
                </div>
            </div>
            <div class="col comments">
                <h1>{{issue.comments.length}} Comments{{issue.comments.length > 1 ? 's' : ''}}</h1>
                <div class="card" id="{{comment.id}}" ng-repeat="comment in issue.comments">
                    <div>{{comment.text}}</div>
                    <div>
                        <span>{{comment.author.name}}: {{comment.postedOn| date: 'MM dd yyyy'}}.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="issue-error" ng-if="error">
            <p>{{error.msg}}</p>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="details-footer" ng-controller="CommentsCtrl" ng-if="!error">
        <form class="item-input-inset" name="commentForm">
            <label class="item-input-wrapper">
                <input type="text" placeholder="New Comments" maxlength="140" required ng-model="comment">
            </label>
            <button
                class="button back-button button-icon"
                ng-class="{'ion-paper-airplane': isAndroid,'ion-ios-paperplane-outline': !isAndroid}"
                ng-click="addComment()"
                ng-disabled="commentForm.$invalid">
            </button>
        </form>
    </ion-footer-bar>
</ion-view>
