<ion-view view-title="List" hide-back-button="true">
    <ion-nav-bar class="bar-royal">
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-medium ion-map" ui-sref="app.map"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <ion-item class="item item-avatar"  collection-repeat="issue in issues" ng-click="goToDetails(issue.id)">
                <i class="issue-{{issue.state}}"></i>
                <h2>{{issue.description}}</h2>
                <p class="issue-stats">{{issue.comments.length}}<i class="icon ion-chatbubbles"></i>{{issue.tags.length}}<i class="icon ion-pricetags"></i></p>
                <span>{{issue.owner.name}}</span>
            </ion-item>
        </div>
        <div class="issue-error" ng-if="error">
            <p>{{error.msg}}</p>
        </div>
    </ion-content>
    <i class="icon button-help ion-help-circled" ng-if="issues.length > 0" ng-click="showHelp()"></i>
    <i class="icon button-new ion-plus-circled" ui-sref="app.new"></i>
</ion-view>
