<ion-view view-title="Map" hide-back-button="true">
    <ion-nav-bar class="bar-royal">
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-medium ion-clipboard" ui-sref="app.list" nav-transition="none"></button>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <leaflet ng-if="showMap === true" id="map" layers="layers" center="mapCenter" markers="mapMarkers" data-tap-disabled="true"></leaflet>
        <i class="icon button-new ion-plus-circled" ng-class="{'button-new-up' : activeMarker}" ui-sref="app.new"></i>
    </ion-content>
    <div class="marker-info" ng-class="{'marker-info-visible' : activeMarker}" on-swipe-up="goToDetails(activeMarker.id)" ng-click="goToDetails(activeMarker.id)">
        <span class="marker-info-details"><i class="icon ion-chevron-up"></i> Details</span>
        <ion-item class="item item-avatar">
            <i class="issue-{{activeMarker.state}}"></i>
            <h2>{{activeMarker.description}}</h2>
            <p class="issue-stats">{{activeMarker.comments.length}}<i class="icon ion-chatbubbles"></i>{{activeMarker.tags.length}}<i class="icon ion-pricetags"></i></p>
            <span>{{activeMarker.owner.name}}</span>
        </ion-item>
    </div>
</ion-view>
