<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-view name="menuContent"></ion-nav-view>
        <!-- <div class="toast" ng-controller="SettingsModalCtrl">{{toast}}</div> -->
        <div class="toast" ng-class="{showed : toast.model.show}">{{toast.model.msg}}</div>
    </ion-side-menu-content>

    <ion-side-menu side="left" id="main-menu" is-enabled="$root.enableLeft">
        <header class="bar bar-header bar-royal transparent">
            <h1 class="title">{{user.firstname}} {{user.lastname}}</h1>
        </header>
        <ion-content class="has-header">
            <div class="list card transparent" ng-controller="ViewIssuesCtrl">
                <div class="item item-divider transparent">Show</div>
                <label class="item item-radio" menu-close ng-click="changeView()">
                    <input type="radio" name="group" ng-model="config.activeView" value="all">
                    <div class="item-content">
                        All Issues
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio" menu-close ng-click="changeView()">
                    <input type="radio" name="group" ng-model="config.activeView" value="close">
                    <div class="item-content">
                        Related Issues
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio" menu-close ng-click="changeView()">
                    <input type="radio" name="group" ng-model="config.activeView" value="mine">
                    <div class="item-content">
                        My Issues
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
            </div>
            <ul class="list card transparent" ng-controller="IssueTypeCtrl" ng-hide="!issueTypes">
                <div class="item item-divider transparent">Filter by Type</div>
                <ion-toggle ng-repeat="issueType in issueTypes"
                            ng-model="issueType.checked" 
                            ng-checked="issueType.checked"
                            ng-click="issueTypeFilter()"
                            class="item-issue-type">
                    {{issueType.name}}
                </ion-toggle>
            </ul>
            <ul class="list card transparent" ng-controller="IssueStateCtrl" ng-hide="error.stateFilters">
                <div class="item item-divider transparent">Filter by Status</div>
                <ion-toggle ng-repeat="stateFilter in stateFilters"
                            ng-model="stateFilter.checked" 
                            ng-checked="stateFilter.checked"
                            ng-click="issueStateFilter()">
                    {{stateFilter.text}}
                </ion-toggle>
            </ul>
            <div class="list card transparent">
                <div class="item item-divider transparent">Configuration</div>
                <a class="item item-icon-left" menu-close nav-clear ng-controller="SettingsModalCtrl" ng-click="openModal('settings')">
                    <i class="icon ion-settings"></i>
                    Settings
                </a>
                <a class="item item-icon-left" menu-close nav-clear ng-controller="LoginCtrl" ng-click="logout()">
                    <i class="icon ion-log-out"></i>
                    Logout
                </a>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
