<ion-view view-title="New Issues">
    <ion-nav-bar class="bar-royal">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="right">
        <button class="button back-button button-icon button-medium ion-checkmark-round" ng-click="register()"></button>
    </ion-nav-buttons>
    <ion-content class="flat-background-white new-issue">
        <form name="new-issue-form">
            <div class="card">
                <div class="img-thumbnail">
                    <button class="button button-small button-light ion-close" ng-hide="!userImg" ng-click="removePicture()"></button>
                    <img ng-src="{{newIssue.imageUrl}}" alt="">
                </div>
                <div class="item">
                    <div class="input-label">Photo</div>
                    <div class="photo">
                        <a class="button button-small button-light ion-camera" ng-click="getPicture('cameraOptions')" ng-disabled="userImg" autofocus></a>
                        <a class="button button-small button-light ion-images" ng-click="getPicture('galleryOptions')" ng-disabled="userImg"></a>
                    </div>
                </div>
                <div class="item item-textarea">
                    <label class="input-label">Description</label>
                    <textarea ng-model="newIssue.description" placeholder="Issue Description"></textarea>
                </div>
                <label class="item item-input item-select">
                    <div class="input-label">Type</div>
                    <select ng-model="newIssue.issueType" ng-options="type as type.name for type in issueTypes">
                    </select>
                </label>
                <div class="item position">
                    <div class="input-label">Location</div>
                    <i class="icon ion-checkmark" ng-hide="!newIssue.lat"></i>
                    <a class="button button-small button-light" ng-click="showIssueLocationModal()">Choose</a>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
