<ion-modal-view class="flat-background-white">
    <header class="bar bar-header bar-royal">
        <h1 class="title left-title">Settings</h1>
        <button class="button button-clear" ng-click="closeModal('settings')">Close</button>
    </header>
    <ion-content class="has-header settings">
        <div class="list">
            <div class="card">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Home
                    </div>
                    <select ng-model="settings.homePage">
                        <option value="app.map">Map</option>
                        <option value="app.list">List</option>
                    </select>
                </label>
                <div class="setting-info"><i class="icon ion-information-circled"></i>Indicates which screen will be displayed first when launching the application.</div>
            </div>
            <div class="card">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Default View
                    </div>
                    <select ng-model="settings.homeView">
                        <option value="all">All Issues</option>
                        <option value="close">Nearby Issues</option>
                        <option value="mine">My Issues</option>
                    </select>
                </label>
                <div class="setting-info"><i class="icon ion-information-circled"></i>Indicates which view will be selected when the application is launched.</div>
            </div>
            <div class="card">
                <label class="item item-input">
                    <span class="input-label">My Position</span>
                    <button id="map-center-modify" class="button button-small button-light" ng-click="openModal('mapCenter')">Modifier</button>
                </label>
                <div class="setting-info"><i class="icon ion-information-circled"></i>Sets the point on the map that will be used as your current location if it is not possible to geolocate.</div>
            </div>
            <div class="card">
                <label class="item item-input item-title">
                    <span class="input-label">Distance Issues</span>
                    <span class="close-range">{{settings.closeRange}} <span class="close-range-after">Meters</span></span>
                </label>
                <div class="item range range-positive">
                    <i ng-click="setCloseRange(100)">100</i>
                    <input type="range" name="volume" min="100" max="1500" step="50" ng-model="settings.closeRange">
                    <i ng-click="setCloseRange(1500)">1500</i>
                </div>
                <div class="setting-info"><i class="icon ion-information-circled"></i>Issues more than {{settings.closeRange}} meters from your location will not be displayed on the Nearby Issues view.</div>
            </div>
            <div class="card">
                <label class="item item-input item-title">
                    <span class="input-label">Default Zoom</span>
                    <span class="close-range">{{settings.zoom}}<span class="close-range-after">x</span></span>
                </label>
                <div class="item range range-positive">
                    <i ng-click="setZoom(1)">1</i>
                    <input type="range" name="volume" min="1" max="19" ng-model="settings.zoom">
                    <i ng-click="setZoom(19)">19</i>
                </div>
                <div class="setting-info"><i class="icon ion-information-circled"></i>Adjusts the zoom level of the map when there is only one marker to display.</div>
            </div>
            <div class="card state_filters">
                <label class="item item-input item-title">
                    <span class="input-label">Filter by Status</span>
                </label>
                <ul class="list transparent">
                    <ion-toggle ng-repeat="stateFilter in settings.stateFilters"
                                ng-model="stateFilter.checked" 
                                ng-checked="stateFilter.checked"
                                ng-click="issueStateFilter()">
                        {{stateFilter.text}}
                    </ion-toggle>
                </ul>
                <div class="setting-info"><i class="icon ion-information-circled"></i>Sets which status filters are selected when the application loads.</div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
