<ul id="help-popup">
    <li class="item item-avatar">
        <i class="icon ion-load-d"></i>
        <p>Create</p>
    </li>
    <li class="item item-avatar">
        <i class="icon ion-person-add"></i>
        <p>Assign</p>
    </li>
    <li class="item item-avatar">
        <i class="icon ion-bookmark"></i>
        <p>Acknowledge</p>
    </li>
    <li class="item item-avatar">
        <i class="icon ion-settings"></i>
        <p>In Progress</p>
    </li>
    <li class="item item-avatar">
        <i class="icon ion-close-circled"></i>
        <p>Reject</p>
    </li>
    <li class="item item-avatar">
        <i class="icon ion-checkmark-circled"></i>
        <p>Resolve</p>
    </li>
</ul>